.spots-main {
    width: 100%;
    padding: 20px;
}

.spots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 1700px;
}

.spot-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.spot-card:hover {
    transform: translateY(-5px);
}

.spot-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.spot-info {
    padding: 15px;
    position: relative;
}

.spot-info h2 {
    font-size: 1.25rem;
    margin: 0 0 10px;
    position: relative;
}

.spot-info .spot-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spot-info p {
    margin: 5px 0;
}

.spot-info .spot-price {
    font-weight: 500;
    font-size: 16px;
    color: rgb(34, 34, 34)
}

.spot-info .spot-rating {
    color: rgb(34, 34, 34);
    margin-left: 10px;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.spot-card:hover .tooltip {
    visibility: visible;
    opacity: .85;
    transform: translateY(0);
}

.price-wrapper {
    display: flex;
    align-items: center;
}

.night {
   padding-left: 5px;
}
